<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <hr>
    <h2>Save Employee</h2>

    <form method="post" th:action="@{/employees/updateEmployee}" th:object="${employee}">
        <input type="hidden" th:field="${employee.id}">
        <div class="mb-3">
            <label for="name" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="name" th:field="${employee.name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Employee Email</label>
            <input type="email" class="form-control" id="email" th:field="${employee.email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>
        <p>Salary:</p>
        <select class="form-control mb-4 col-4" th:field="${employee.salary}">
            <option th:each="sal: ${salaries}" th:value="${sal.id}"
                    th:text='${sal.getEmployment() + " || " + sal.getAnnualSalary()}'></option>
        </select>
        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"/>

        <button type="submit" class="btn btn-primary">Update Employee</button>
    </form>


    <hr>
    <a class="btn btn-primary my-2" th:href="@{/employees/list}">Back to Employee List</a>

</div>
</body>
</html>
